<!DOCTYPE html>
<html lang="{{content.head.lang}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{content.head.title}}</title>
    <link rel="stylesheet" href="{{content.head.cssPath}}">
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
        (function(f, a, t, h, o, m){
            a[h]=a[h]||function(){
                (a[h].q=a[h].q||[]).push(arguments)
            };
            o=f.createElement('script'),
                    m=f.getElementsByTagName('script')[0];
            o.async=1; o.src=t; o.id='fathom-script';
            m.parentNode.insertBefore(o,m)
        })(document, window, 'http://167.99.181.60/tracker.js', 'fathom');
        fathom('set', 'siteId', 'RYBHM');
        fathom('trackPageview');
    </script>
    <!-- / Fathom -->
</head>
<body>
    {{{body}}}
    <footer class="footer">
        {{#if content.footer.social.length}}
            <ul class="footer__social-list">
                {{#each content.footer.social}}
                    <li>
                        <a href="{{this.href}}" class="{{this.iconClass}}" title="{{this.title}}"></a>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        <p class="footer__copyright"><span class="footer__current-year"></span>&nbsp;{{{content.footer.copyright}}}</p>
        <p class="footer__source">{{{content.footer.source}}}</p>
    </footer>
    <script src="/js/currentYear.js" type="text/javascript"></script>
    <script src="https://unpkg.com/mailgo@0.6.7/dist/mailgo.min.js"></script>
</body>
</html>
