{{> header }}
<main class="container">
    <section class="projects__container">
        <div class="projects__title-container">
            <h2 class="projects__title">{{content.projects.title}}</h2>
            {{#if_cond projects.projects.length '>' 4}}
                <a class="projects__view-all projects__view-all--desktop" href="{{content.projects.link.url}}">{{content.projects.link.title}} &rarr;</a>
            {{/if_cond}}
        </div>
        <ul class="projects__list">
        {{#each_upto projects.projects 4}}
            {{> project sourceMsg=../projects.sourceMsg demoMsg=../projects.demoMsg aboutMsg=../projects.aboutMsg }}
        {{/each_upto}}
        </ul>
        {{#if_cond projects.projects.length '>' 4}}
            <a class="projects__view-all projects__view-all--mobile" href="{{content.projects.link.url}}">{{content.projects.link.title}} &rarr;</a>
        {{/if_cond}}
    </section>
    <section class="skills__container">
        <h2 class="skills__title">{{content.skills.title}}</h2>
        <ul class="skills__list">
            {{#each content.skills.list}}
                <li class="skills__list-item"><span>{{this}}</span></li>
            {{/each}}
        </ul>
    </section>
</main>
