<main>

    <a href="/">{{{content.returnToSite}}}</a>
    <h1>{{content.title}}</h1>
    <details open>
        <summary>{{content.filtersTitle}}</summary>
        <ul class="filter__list">
            {{#each content.filters}}
                <li class="filter__list-item">
                    <button id="{{this.id}}" {{#if this.first}}class="is-active"{{/if}}>
                        {{this.text}}
                    </button>
                </li>
            {{/each}}
        </ul>
    </details>
    <h2>{{content.linksTitle}}</h2>
    <ul class="links__list">
        {{#each content.links}}
            <li class="links__list-item" data-category="{{this.category}}">
                <a class="links__list-item-link {{this.class}}"
                   href="{{this.url}}">
                    {{#if this.icon}}
                        <span class="{{this.icon}}"></span>
                    {{/if}}
                    {{#if this.imageSrc}}
                        <img src="{{this.imageSrc}}" {{#if this.imageAlt}}alt="{{this.imageAlt}}"{{/if}} />
                    {{/if}}
                    <span>{{this.text}}</span>
                </a>
            </li>
        {{/each}}
    </ul>
</main>
<script type="text/javascript">
    const devBtn = document.getElementById('filter-dev');
    const socialBtn = document.getElementById('filter-social');
    const miscBtn = document.getElementById('filter-misc');
    const allBtn = document.getElementById('filter-all');
    const links = document.querySelectorAll('.links__list-item');
    const filterBtns = document.querySelectorAll('.filter__list-item button');
    const footer = document.querySelector('.footer__copyright');

    function setCategory(event, category) {
        filterBtns.forEach(btn => {
            btn.classList.remove('is-active');
            if (btn === event.currentTarget) {
                btn.classList.add('is-active');
            }
        })

        links.forEach(link => {
            if (link.dataset.category === category) {
                link.classList.remove('hide');
            } else {
                link.classList.add('hide');
            }
            if (category === 'all'){
                link.classList.remove('hide');
            }
        })
    }

    function getCurrentYear() {
        const date = new Date();
        return date.getFullYear().toString();
    }

    function init() {
        devBtn.addEventListener('click', (event) => setCategory(event, 'dev'));
        socialBtn.addEventListener('click', (event) => setCategory(event, 'social'));
        miscBtn.addEventListener('click', (event) => setCategory(event, 'misc'));
        allBtn.addEventListener('click', (event) => setCategory(event, 'all'));

        footer.innerHTML = `<p><small>Copyright © ${getCurrentYear()} Gabriel Laroche. All Rights Reserved.</small></p>`
    }

    (init());
</script>
